<form action="api/movies" method="POST">
  <input type="text" name="title" placeholder="Movie Title">
  <input type="text" name="plot" placeholder="Movie Plot">
  <textarea name="fullplot" placeholder="Fullmovie Plot"></textarea>
  <input type="date" name="released" placeholder="Released">
  <input type="text" name="rated" placeholder="Rated">
  <input type="number" name="runtime" placeholder="Runtime">
  <input type="text" name="directors" placeholder="Directors">
  <input type="text" name="awards" placeholder="Award">
  <input type="text" name="imdb" placeholder="IMDb">
  <input type="text" name="countries" placeholder="Countries">
  <input type="text" name="type" placeholder="Type">
  <input type="text" name="num_mflix_comments" placeholder="Mflix Comments">
  <button type="submit" class="btn btn-primary">Add Movie</button>
</form>

