
<form action="api/products" method="POST">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="description" placeholder="Descripción">
    <input type="number" name="price" placeholder="Precio">
    <input type="number" name="stock" placeholder="Stock">
    <button type="submit" class="btn btn-primary">Agregar producto</button>
</form>

