<h1>Bienvenido</h1>

<h3>Lista de productos</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>