<div class="d-flex p-5">
    <h2>Real Time Products</h2>
    <form action="" class="d-flex flex-column gap-2 m-3" id="addForm">
        <input type="text" name="title" id="title" class="form-control" placeholder="Title">
        <input type="text" name="description" id="description" class="form-control" placeholder="Description">
        <input type="text" name="price" id="price" class="form-control" placeholder="Price">
        <button type="submit" class="btn btn-primary">Add product</button>
    </form>

    <form action="" class="d-flex flex-column gap-2 m-3" id="deleteForm">
        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
        <button type="submit" class="btn btn-primary">Delete product</button>
    </form>
</div>

<!--Todos los productos-->

<div id="productList" class="d-flex flex-column gap-2 m-3">
</div>
